html {
    background-color: rgb(246, 246, 246);
    font-size: 35px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;
    margin: 0 100px;
}

#select {
    width: max-content;
    margin-bottom: 0.5rem;
}

#example {
    font-size: 0.8rem;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

#fileInput {
    font-size: 0.7rem;
    padding: 15px 10px;
    border: dashed 3px rgb(43, 43, 43);
    background-color: rgb(231, 231, 231);
    border-radius: 99px;
}

#result {
    margin-top: 5px;
    color: red;
}

#download {
    margin-top: 10px;
    color: green;
    user-select: none;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}